<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>사진 또는 동영상을 저장, 게시글에 첨부, 프로필 사진 등록하기 위해서 사진 라이브러리 접근 권한이 필요합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>사진 또는 동영상을 저장, 게시글에 첨부, 프로필 사진 등록하기 위해서 음성인식을 위한 마이크 접근 권한이 필요합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>사진 또는 동영상을 저장, 게시글에 첨부, 프로필 사진 등록하기 위해서 사진 촬영을 위한 카메라 접근 권한이 필요합니다.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao6c28960f69d4c7f00043b02d890dd6e0</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
